<!DOCTYPE html>

<html ng-app="crawlerApp">
  <head>
    <title>Amazon Crawler</title>
    <link rel="stylesheet" href="vendor/Semantic-UI-2.2/semantic.min.css">
    <link rel="stylesheet" href="vendor/Animate/animate.css">
	<link rel="stylesheet" href="vendor/summernote/dist/summernote.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">

    <style>
      
      @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translate3d(0, -10px, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }

      html, body{
        height: auto;
		font-size: 14px;
      }

      .main.container {
        margin-top: 40px;
      }

      .list .item .content{
        padding-top: 20px;
      }

      .fade-enter-active {
        /*transition: opacity .5s*/
        animation-name: fadeInDown;
      }

      .fade-leave-active{
        animation-name: fadeOut;
      }

      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
      }
	  
	  .main{
		width: 100%;
		max-width: 1300px;
	  }
	  .product {
	    padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
		background: #fafafa;
		margin-bottom: 20px;
	  }
	  .product.disabled {
		background: #fff0f0;
	  }
    </style>
  </head>

  <body>

    <div id="v-app" ng-controller="ProductController as ctrl">

        <div class="ui fixed inverted menu">
            <div class="ui container">
              <a href="#" class="header item">
                Amazon Crawler
              </a>
            </div>
          </div>
		  <br/><br/><br/>
          <div class="ui main container">
		  
			<div class="ui hidden divider" style="margin:50px 0"></div>
			
		    
            <div class="ui hidden divider" style="margin:20px 0"></div>

            <form class="ui form" ng-submit="fetchProducts()">
                <div class="field">
                  <label>Amazon Urls</label>
                  <div class="ui input" v-bind:class="{'disabled':isConnect}">
                    <!--<input type="url" class="ui input"  ng-model="amazonUrl" placeholder="Amazon Url" id="amazonUrl">-->
					<textarea ng-model="amazonUrls" class="form-control" rows="10" id="amazonUrls"></textarea>
                  </div>
                </div>
      
                <button class="ui primary button" id="fetchBtn" ng-disabled="status.fetching"> 
					Fetch <span class="working ui" ng-show="status.fetching">...</span>
				</button>
                <button class="ui  button" ng-click="resetWindow()" type="button"> Reset <span class="working ui hidden">...</span></button>
                <button class="ui button pull-right" ng-click="scroll(-1)" type="button"> 
					Scroll Down
				</button>
			
            </form>
			<br/><br/><br/>
			<h3 class="working" ng-show="status.workingd" ng-bind="status.workingd"> <br/><br/></h3>
			<div ng-repeat="product in products" class="product" ng-class="{'disabled': product.disabled}">
				<span class="pull-right">
					<button type="button" class="ui button secondary" ng-click="product.disabled=1" ng-hide="product.disabled"> Disable Book {{$index}} </button>
					<button type="button" class="ui button secondary" ng-click="product.disabled=0" ng-show="product.disabled"> Enable Book {{$index}} </button>
				</span>
				<br/><br/><br/>
				Titre: <div class="ui input"> <input class="ui input"  style="width: 1000px;" ng-model="product.title" placeholder="Title"></div>
				<hr/>
				Prix: <div class="ui input"> <input class="ui input"  ng-model="product.price" placeholder="Price"></div>
				Prix LPN: <div class="ui input"> <input class="ui input"  ng-model="product.lprice" placeholder="Price LPN"></div>
				
				<hr/>
				Description: <div class="ui input"> 
					<div class="ui input"  ng-model="product.sdesc" placeholder="s Description" rows="5" summernote>Desc</div>
				</div>
				<hr/>
				Description: <div class="ui input"> 
					<div class="ui input"  ng-model="product.desc" placeholder="Description" rows="5" summernote></div>
				</div>
				<hr/>
				FK Details: <div class="ui input"> 
					<div class="ui input"  ng-model="product.detail" placeholder="FK details" rows="5" summernote></div>
				</div>
				<div class="ui divider" style="margin:50px 0"></div>
				<hr/>
				Images: <div id="images">
					<span style="padding:5px;" ng-repeat="src in product.imgs"><img src="{{src}}" /> </span>
				</div>
				<div class="ui divider" style="margin:50px 0"></div>
				<!--
				<hr/>
				Details: <div ng-model="detail"></div>
				<div class="ui divider" style="margin:50px 0"></div>
				<hr/>
				Auteur(s): <div ng-model="author"></div>
				<hr/>
				-->
				<span class="pull-right">
					<button type="button" class="ui button secondary" ng-click="product.disabled=1" ng-hide="product.disabled"> Disable Book {{$index}} </button>
					<button type="button" class="ui button secondary" ng-click="product.disabled=0" ng-show="product.disabled"> Enable Book {{$index}} </button>
				</span>
				<br/><br/><br/>
				
			</div>
			
			<br/><hr/><br/>
			<div id="amazon" style="display:hidden"></div>
			
			<button class="ui primary button" ng-click="saveProducts()"  ng-disabled="status.fetching"> 
				Save <span class="working ui" ng-show="status.fetching">...</span>
			</button>
			<button class="ui button" ng-disabled="status.fetching" data-clipboard-target="#csv" ngclipboard> 
				Copy <span class="working ui" ng-show="status.fetching">...</span>
			</button>
			<button class="ui button pull-right" ng-click="scroll(1)" type="button"> 
				Scroll Up
			</button>
				
			<br/><br/>
			<textarea ng-model="status.csv" ng-show="status.csv" readonly class="form-control" rows="7" id="csv"></textarea>
			<br/>
			<div id="error" style="color:red;"></div>
			<br/><br/>
		</div>

    </div>

    
    <script type="text/javascript" src="vendor/JQuery/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/summernote/dist/summernote.min.js"></script>
	<script type="text/javascript" src="vendor/clipboard/dist/clipboard.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="vendor/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="vendor/angular-summernote/dist/angular-summernote.min.js"></script>
	<script type="text/javascript" src="vendor/ngclipboard/dist/ngclipboard.min.js"></script>
	
	
    <script type="text/javascript" src="crawler.js"></script>
    
    <script type="text/javascript">

      

    </script>
  </body>
</html>