<!DOCTYPE html>

<html>
  <head>
    <title>Client MailerLite</title>
    <link rel="stylesheet" href="vendor/Semantic-UI-2.2/semantic.min.css">
    <link rel="stylesheet" href="vendor/Animate/animate.css">

    <style>
      
      @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translate3d(0, -10px, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }

      html, body{
        height: auto;
      }

      .main.container {
        margin-top: 40px;
      }

      .list .item .content{
        padding-top: 20px;
      }

      .fade-enter-active {
        /*transition: opacity .5s*/
        animation-name: fadeInDown;
      }

      .fade-leave-active{
        animation-name: fadeOut;
      }

      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
      }
	  
	  .main{
		width: 100%;
		max-width: 1300px;
	  }
    </style>
  </head>

  <body>

    <div id="v-app">

        <div class="ui fixed inverted menu">
            <div class="ui container">
              <a href="#" class="header item">
                Client MailerLite
              </a>
            </div>
          </div>
      
          <div class="ui main container">
		  
			<div class="ui hidden divider" style="margin:50px 0"></div>
			
			<div class="ui message" v-bind:class="{'success':hasSuccess, 'error':hasError}" v-if="hasSuccess || hasError">
				<i class="ui icon close" v-on:click="hasSuccess=false;hasError=false"></i>
				{{ errMessage }}
			</div>
			
			<!--
			<div class="ui message error" v-if="hasError">
				<i class="ui icon close" v-on:click="hasError=false"></i>
				Tout n'a pas bien marché
			</div>
			-->
            
            <div class="ui hidden divider" style="margin:20px 0"></div>

            <form class="ui form">
                <div class="field">
                  <label>Account API Key</label>
                  <div class="ui input" v-bind:class="{'disabled':isConnect}">
                    <input type="text" class="ui input"  v-model="apiKey" placeholder="User Account API Key...">
                  </div>
                </div>
      
                <button class="ui primary button" v-if="!isConnect" v-on:click="onConnect"> Connect </button>
                <button class="ui primary button" v-if="isConnect" v-on:click="onDeconnect"> Deconnect </button>
                <button class="ui button" v-bind:class="{'disabled':isConnect}" v-on:click="onInitAPIKey">Get API Key</button>
            </form>
      
            <div class="ui divider" style="margin:50px 0"></div>
      
            <transition name="fade">
              <div class="ui two column divided grid animated" v-if="isConnect">
                <div class="row">

                  <div class="column">
                    <div class="ui fluid selection dropdown">
                        <input name="gender" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select group contact</div>
                        <div class="menu">
                            <div class="item" 
                                 v-bind:data-value="g.id" 
                                 v-for="g in contactGroups"
                                 v-on:click="onGetContacts(g.id)">
                                 {{g.name}}</div>
                        </div>
                    </div>

                    <div class="ui divider"></div>
                    

                    <div class="ui bottom aligned divided list" style="height:380px;overflow:auto">
    
                      <div class="item" v-for="c in contacts">
                        <div class="right floated content">
                          <button class="ui icon button" v-on:click="onDeleteContact(c.email)">
                              <i class="icon trash"></i>
                          </button>
                        </div>
                        <div class="content">
                          {{ c.email }}
                        </div>
                      </div>
    
                    </div>
                  </div>
          
                  <div class="column">

                    <h2>Nouveau Subscribers</h2>

                    <form class="ui form">
                      <div class="field">
                        <input type="text" v-model="newContact" placeholder="exemple@domain.com">
                      </div>
                      <div class="ui right aligned container">
                        <button class="ui primary button" v-on:click="onAddContact()">
							Add Contact
						</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </transition>

          </div>

    </div>

    
    <script type="text/javascript" src="vendor/JQuery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="vendor/Semantic-UI-2.2/semantic.js"></script>
    <script type="text/javascript" src="vendor/VueJS-2.5.1/vue.js"></script>
    <script type="text/javascript" src="vapp.js"></script>
    <script type="text/javascript">

      $(function(){

        $('form').on('submit', function(e){
          e.preventDefault();
        });

        $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
        });

      });

    </script>
  </body>
</html>